@import "tailwindcss";

@theme {
  --color-surface: var(--color-surface);
  --color-surface: #13111c;

  --font-sans: var(--font-inter);

  --text-sm: 0.75rem; /* 12px */
  --text-sm--line-height: 1.0625rem; /* 17px */

  --text-base: 0.8125rem; /* 13px */
  --text-base--line-height: 1.3125rem; /* 21px */
}
